.mail-details nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.mail-details {
    background-color: rgba(249, 231, 218);
    padding: 20px;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.mail-details nav>* {
    color: rgb(18, 43, 63);
}

.mail-details nav button {
    font-size: 20px;
}

.mail-details .mail-body {
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.652);
}

.mail-details .subject {
    font-size: 1.5rem;
    font-weight: 800;
    display: inline-block;
    margin: 10px 10px 10px 0;
}

.mail-details .date {
    font-size: 0.7rem;
}

.mail-details .edit {
    color: rgb(18, 43, 63);
}

.mail-details .back::before {
    font-family: fa-solid;
    content: "\f01c";
}

.mail-details .next::after {
    font-family: fa-solid;
    content: "\f054";
}

.mail-details .prev::after {
    font-family: fa-solid;
    content: "\f053";
}