.status {
    /* width: 130px; */
    display: none;
    border-radius: 2em;
    padding: 0 10px;
    border: 1px solid rgba(249, 231, 218, 0.883);
}

.status.bright {
    color: rgb(235, 250, 241);
}

.status.dark {
    color: rgb(18, 43, 63);
}

@media (min-width: 1000px) {
    .status {
        display: inline-block;
    }
}