.mail-filter {
    margin: 10px 0;
}

.mail-filter input {
    padding: 10px;
    margin: 0 10px;
    width: 80%;
}

@media (min-width: 1000px) {
    .mail-filter {
        margin-bottom: 20px;
    }
    .mail-filter input {
        padding: 10px;
        width: 70%;
    }
}