.mail-list {
    background-color: rgba(249, 231, 218, 0.513);
    padding: 0;
    border-radius: 0.2em;
    flex-grow: 1;
}

@media (min-width: 1000px) {
    .mail-list {
        margin-left: 10px;
    }
}