.mail-app .bar-seconde a {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 130px;
    padding: 5px 10px;
    color: white;
    background: rgba(18, 43, 63, 1);
    /* background: linear-gradient(151deg, rgba(18, 43, 63, 1) 2%, rgba(239, 108, 145, 1) 70%, rgba(203, 222, 233, 1) 96%); */
    border-radius: 2em;
}

.mail-app .edit-btn {
    margin: 0 10px;
}

.delete::after {
    font-family: fa-solid;
    content: "\f2ed";
}

.edit::after {
    font-family: fa-solid;
    content: "\f3e5";
}

@media (min-width: 1000px) {
    .mail-app .bar-main {
        display: flex;
    }
    .mail-app .bar-seconde {
        display: flex;
        flex-direction: column;
    }
    .mail-app .bar-seconde a {
        width: inherit;
    }
    .mail-app {
        padding: 20px;
    }
}