.note.note-video {
    flex-direction: column;
}


.note.note-video .btn-container>* {
    font-family: fa-solid;
}

.note.note-video h4{
    color: #323232;
}

.note.note-video .btn-container .delete::after {

    content: "\f2ed";
}

.note.note-video .btn-container .edit::after {

    content: "\f044";
}

.note.note-video .btn-container .color::after {

    content: "\f53f";
}

.note.note-video .btn-container .mail::after {

    content: "\f0e0";
}

.note.note-video:hover {
    box-shadow: 0px 9px 11px 0.5px rgba(0, 0, 0, 0.10);
    font-size: 18px;
}
