.note.note-img{
    flex-direction: column;
 }
.note-img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.note.note-img h4{
    color: #323232;
}
.note.note-img .btn-container>* {
    font-family: fa-solid;
}


.note.note-img  .btn-container .delete::after {
   
    content: "\f2ed";
}

.note.note-img  .btn-container .edit::after {
   
    content: "\f044";
}

.note.note-img  .btn-container .color::after {
   
    content: "\f53f";
}

.note.note-img  .btn-container .mail::after {
   
    content: "\f0e0";
}


.note.note-img:hover {
    box-shadow: 0px 9px 11px 0.5px rgba(0, 0, 0, 0.10);
    /* font-size: 1.1rem; */
    
}
