

.note.note-todos {
    flex-direction: column;
}


.note.note-todos .btn-container>* {
    font-family: fa-solid;
}


.note.note-todos .btn-container .delete::after {

    content: "\f2ed";
}

.note.note-todos .btn-container .edit::after {

    content: "\f044";
}

.note.note-todos .btn-container .color::after {

    content: "\f53f";
}

.note.note-todos .btn-container .mail::after {

    content: "\f0e0";
}

.note.note-todos:hover {
    box-shadow: 0px 9px 11px 0.5px rgba(0, 0, 0, 0.10);
    font-size: 1.1rem;
}
