.note.note-txt{
   flex-direction: column;
}


.note.note-txt .btn-container>* {
    font-family: fa-solid;
}


.note.note-txt .btn-container .delete::after {
   
    content: "\f2ed";
}

.note.note-txt .btn-container .edit::after {
   
    content: "\f044";
}

.note.note-txt .btn-container .color::after {
   
    content: "\f53f";
}

.note.note-txt .btn-container .mail::after {
   
    content: "\f0e0";
}

.note.note-txt:hover {
    box-shadow: 0px 9px 11px 0.5px rgba(0, 0, 0, 0.10);
    font-size: 18px;
}