/* Keep App Main CSS */
@import '../../apps/Keep/assets/css/KeepMain.css';



/* Keep App Components */
@import '../../apps/Keep/assets/css/cmps/NoteImg.css';
@import '../../apps/Keep/assets/css/cmps/NoteTodos.css';
@import '../../apps/Keep/assets/css/cmps/NoteTxt.css';

body {
    background-color: lightblue;
}

.user-preview {
    background-color: darkcyan;
    padding: 5px;
    width: 200px;
    text-align: center;    
}
.user-preview button {
    margin: 5px;
}